@font-face {
    src: url("Portland.ttf");
    font-family: Portland;
}

body {
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 8px black;
    font-family: fantasy;
}

#hero {
    background-image: url("images/Portland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#hero-title {
    font-family: Portland;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 100px;
}

#hero-description {
    background-color: darkolivegreen;
    opacity: 0.8;
    padding: 12px 20px;
    border-radius: 10px;
}

#main-content {
    display: flex;
    justify-content: center;
}

#activities-description {
    margin-top: 80px;
    display: block;
    font-size: 50px;
    font-family: Portland;
    font-weight: bold;
    text-shadow: none;
}

.container {
    width: 400px;
    height: 240px;
    padding:0 30px;
}

/* Resize images */
.container img {
    max-width: 100%;
    max-height: 100%;
    
}
