
body {
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 2px black;
    font-family: Brush Script
}

#hero {
    background-image: url("images/Portland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;


}